/* Main settings */
    * {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    }
    
    body { 
      min-height: 0vw;
      font-size: calc(0.7674943566591423vw + 0.3116534988713318em);
    }

    /* Max Font Size */
    @media screen and (min-width:1435px) {
     body { font-size: 1em; }
    }
    /* Min Font Size */
    @media screen and (max-width:991px) {
     body { font-size: 1em; }
    }



   /* Max  479px */ 
    @media screen and (max-width: 479px) {

    .section-hero.top {
    height: 100%;
    min-height: 520px;
    background-image: url(https://uploads-ssl.webflow.com/659ddd2f0bbf83eebcc3871e/65b39f5c7f881a481c55754e_Mobil-O-Hansens_Samlebilde-web-400px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin-top: 0;
    }
  }


    /* Main css settings */

    #logo-elfag {
      width: 3.5em;
      height: 100%;
      margin-top: -10px;
      margin-left: -6px;
    }